<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hua.security.mapper.UserMapper">

    <select id="selectByUsername" parameterType="string" resultType="com.hua.security.entity.User">
        select * from `user` where `username` = #{username};
    </select>


</mapper>